<div>
    <div class="bg-blue-900 w-full flex flex-col py-4 text-white">
    <div class="flex py-4 justify-around items-center">
        <a routerLink="/" >MyStore</a>
        <div>
            <input [(ngModel)]="searchTerm" type="text" placeholder="Search for products" (keyup.enter)="onSearch($event)" class="min-w-[200px] bg-white text-gray-300 p-2">
            <button class="bg-blue-500 text-white p-2 ml-2">Search</button>
        </div>
        <div class="flex flex-col">
            @if (authService.getIsAdmin()) { <a routerLink="/admin">{{authService.getUserName()}}</a> }
            @else  { <a routerLink="/profile">{{authService.getUserName()}}</a> }
        @if (authService.isLoggedIn()) { <button (click)="logout()">LOG OUT</button> }
        @else { <div class="flex gap-x-8">
            <button routerLink="/login">LOG IN</button>
            <button routerLink="/register">REGISTER</button>
        </div> }
        </div>
</div>
@if (authService.isLoggedIn()) {
<div class="mx-8 grid grid-cols-4 xl:grid-cols-12 gap-y-2 flex justify-center items-center font-bold text-sm">
        @for (category of categoryList; track $index) {
            <div (click)="searchCategory(category._id!)" class="cursor-pointer text-center">{{category.name}}</div>
        }
    </div> }
</div>